.table-container{
  .table-content-container{
    display: flex;
    margin-top: 30px;
    width: 100%;
    justify-content: space-between;

    .table-title{
      display: flex;
      justify-content: center;
      width: 100%;
      border-bottom: 2px solid #000;
    }

    .table-task-container{
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 33.33%;
      border: 2px solid #000;
    }
    .all-tasks{
      padding: 10px;
      width: 100%;
    }
  }
}