.nav-bar-container{
  position: fixed;
  width: 280px;
  height: 100%;
  border-right: 2px solid #cccccc;
  .nav-bar-top{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 30px 10px;
    input{
      padding: 0 10px;
      border: none;
      outline: none;
      font-size: 15px;
      border-radius: 10px;
      background-color: #eeeeee;
    }
    border-bottom: 2px solid #cccccc;
  }
  .nav-bar-bottom{
    width: 100%;
    padding: 0;
    a{
      text-decoration: none;
    }
    li{
      color: #494949;
      display: flex;
      align-items: center;
      svg{
        margin-right: 15px;
      }
      padding: 10px;
      cursor: pointer;
      transition: 0.2s ease;
    }
    li:hover{
      background-color: #3b40d5;
      color: #fff;
    }
  }
}