*{
  box-sizing: border-box;
}
body{
  margin: 0;
  padding: 0;
  font-family: Arial;
}

.page{
  padding: 40px 80px 40px 360px;
  width: 100%;
  .page-title-container{
    h1{
      font-size: 30px;
    }
    border-bottom: 2px solid #cccccc;
  }
}